@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo{
	cursor: pointer;
	margin-right: auto;	
}

li, a , button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
	background-color: white;
}



.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
	color: black;
}

.nav_links li a:hover{
	color: #0088a9
}

button{

	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: rgba(0,136, 169, 0.8);
}
button.btn1{
	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	background:    #4FC100;
	border-radius: 11px;
	border: none;
	padding:       20px 45px;
	display:       inline-block;
	text-align:    center;
}
button.btn1:hover{
	background-color: #55D100;
}
body{
	background: url(../img/chart.jpg) no-repeat;
	background-size: 100%;
}

.wrapper{
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%
	height: 100%;	
	vertical-align: middle;
	min-height: 40em;
}
.content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h1, h2{
	color: white;
	margin-top: 1em;
}